@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Space+Grotesk:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color:var(--cor-destaque-primario);
    text-decoration: none;
}
header{
    padding: 15px 30px;
}

header nav{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media (max-width:750px) {
    header nav{
        gap: 2px;
        padding: 0;
    }
    #hero{
        align-items:start;
        flex-direction: column;
    }
    #foto-perfil{
        height: 150px;
    }

}
 
@media(max-width:1335px){
    #sobre_e_habilidade{
        display: flex;
        flex-direction: column;
        
    }
}

:root{
    --cor-fundo: #0B0F19;
    --cor-fundo-cards-sesoes: #161B26;
    --cor-texto-principal: #E2E8F0;
    --cor-destaque-primario: #00F5FF;
    --cor-destaque-secundario:#3B82F6;
}
.link-menu {
    background-color: var(--cor-fundo-cards-sesoes);
    color: var(--cor-destaque-primario);
    border: solid 1px rgb(71, 71, 71);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    
}
body{
    background-color: var(--cor-fundo);
    font-family: 'Space Grotesk' , sans-serif;
    margin:0 15px;
}

main{
    gap: 20px;

}

#sobre_e_habilidade{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
}

#sobre{
     flex:2;
     
}
#habilidades{
    flex: 1;
}

 #blocos-habilidade-geral{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    flex-wrap:wrap;
 }

.bloco-habilidade{
    border: solid 2px var(--cor-destaque-primario);
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.bloco-habilidade:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px var(--cor-destaque-primario);
}


.bloco-habilidade img{
    height: 60px;
    width: 60px;
}

#hero{
    display:flex;
    gap: 15px;
    align-items: center;
}

#txt-hero{
    display:flex;
    align-items:flex-start;
    flex-direction: column;
   
}

#foto-perfil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    }



.card{
    background-color: var(--cor-fundo-cards-sesoes);
    color:var(--cor-texto-principal);
    margin-bottom: 20px;
    /*border: 1px solid var(--cor-destaque-primario);*/
    border-radius: 10px;
    padding: 20px;
}

#representacao-projetos{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}
footer{
    color: var(--cor-texto-principal);
}

